In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load data
vehicles = pd.read_csv('./data/vehicles.csv')
print(f"Total records: {len(vehicles):,}")

Total records: 426,880

In [3]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

In [9]:

vehicles['cylinders'] = vehicles['cylinders'].fillna('unknown')

In [10]:

vehicles['cylinders'] = vehicles['cylinders'].replace({'other': 'unknown'})

In [11]:
vehicles.cylinders.unique()

array(['unknown', '8 cylinders', '6 cylinders', '4 cylinders',
       '5 cylinders', '3 cylinders', '10 cylinders', '12 cylinders'],
      dtype=object)

In [12]:
vehicles['cylinders'].describe()

count      426880
unique          8
top       unknown
freq       178976
Name: cylinders, dtype: object

In [ ]:
cylinder_preview = vehicles[(vehicles['cylinders'] 
vehicles = vehicles[(vehicles['price'] >= 500) & (vehicles['price'] <= 100000)]

In [13]:

count_10_12 = vehicles['cylinders'].isin(['10 cylinders', '12 cylinders']).sum()
print("Number of 10 or 12 cylinder vehicles:", count_10_12)

Number of 10 or 12 cylinder vehicles: 1664

In [14]:

vehicles = vehicles[
    ~vehicles['cylinders'].isin(['10 cylinders', '12 cylinders'])
]

In [16]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 425216 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            425216 non-null  int64
 1   region        425216 non-null  object
 2   price         425216 non-null  int64
 3   year          424018 non-null  float64
 4   manufacturer  407747 non-null  object
 5   model         419974 non-null  object
 6   condition     251441 non-null  object
 7   cylinders     425216 non-null  object
 8   fuel          422205 non-null  object
 9   odometer      420834 non-null  float64
 10  title_status  416998 non-null  object
 11  transmission  422660 non-null  object
 12  VIN           264761 non-null  object
 13  drive         294801 non-null  object
 14  size          119502 non-null  object
 15  type          332627 non-null  object
 16  paint_color   295295 non-null  object
 17  state         425216 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 61.6+ MB

In [17]:
vehicles.cylinders.unique()

array(['unknown', '8 cylinders', '6 cylinders', '4 cylinders',
       '5 cylinders', '3 cylinders'], dtype=object)

In [18]:
count_unknown = vehicles['cylinders'].isin(['unknown']).sum()
print("Number of unknown cylinder vehicles:", count_unknown)

Number of unknown cylinder vehicles: 178976

Here is the script to use to eliminate 10 and 12 cyliders from list:

vehicles = vehicles[
    ~vehicles['cylinders'].isin(['10 cylinders', '12 cylinders'])
]